.header {
  margin: 3px 0px;
  border-bottom: 1px solid black;
  padding: 20px 0px 2px 0px;
  font-size: large;
  font-weight: bold;
}

li {
  list-style: none;
  padding: 0px 0px 20px 0px;
}

.container {
  display: flex;
  list-style: none;
}

.flex-item {
  width: 140px;
}

.createdDate {
  margin-left: 40px;
}
