<button [routerLink]="['/new-booking']" mat-button color="link">Make a new booking</button>

<div>
  <p class="header">Future Schedules</p>

  <ul>
    <li *ngFor="let booking of bookings">
      <div *ngIf="booking.isFuture">
        <p>{{ booking.schedule.dates() }}</p>

        <ul class="container">
          <li class="flex-item">{{ booking.session.day | date:'EEEE d MMM' }}</li>
          <li class="flex-item">{{ booking.session.time() }}</li>
          <li class="flex-item">Booked with {{ booking.partner.firstName }}</li>
          <li class="flex-item"><button (click)="onCancel()" mat-raised-button color="warn">Cancel</button></li>
        </ul>

        <p class="createdDate mat-small">Booking created on {{ booking.createdDate | date:'EEEE d MMM' }}</p>
      </div>
    </li>
  </ul>
</div>

<div>
  <p class="header">Past Schedules</p>
</div>
