.heading {
    font-size: large;
    font-weight: bold;
    padding: 10px;
}

.col {
  float: left;
  text-align: center;
  padding: 10px;
}

.row {
    display: inline-block;
}

li {
  list-style-type: none;
}
